body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff5d6 /* #fff5d2 #fff1d0 */
}

svg#background-map {
    background-image: url("../img/thai-map.png");
    background-size: cover;
    margin-left: 50px;
}

circle {
    stroke: #000;
    stroke-opacity: .5;
}

#top-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
}

#left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn-previous, #btn-reset, #btn-play, #btn-next {
    background-color: rgb(125, 230, 255);
}

#button-box {
    margin-bottom: 15px;
}

#button-box :disabled {
    background-color: lightgrey;
}

#timer {
    font-family: 'Inkfree';
    margin: 20px 0 20px 0;
    font-size: 50px;
    font-weight: bolder;
}

th {
    margin: 5px 0 5px 0;
    font-weight: bolder;
}

tr {
    height: 37px;
}

.column-1 {
    width: 115px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.column-2 {
    width: 105px;
    padding-right: 30px;
    text-align: right;
}

.column-3 {
    width: 160px;
    padding-right: 50px;
    text-align: right;
    position: relative;
}

.column-4 {
    width: 85px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.earning-ratio, .column-2 text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bg-circle {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.expand_less {
    color: green
}

.expand_more {
    color: red
}

.remove {
    color: gray
}

#descript {
    width: 80vw;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* margin-left: 10% */
}

#descript-sign{
    display: flex;
    flex-direction: row;
}

.sign-box{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.txt-head{
    font-weight: bolder
}

@font-face {
    font-family: 'Inkfree';
    src: url('../font/Inkfree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}